.left {
    float:left
}
.right {
    float: right;
}
.navigator {
    margin-top: 24px;
    margin-right: 24px;
}
.container {
    width: 96%;
    padding: 15px;
    text-align: center;
}
.input-form {
    width: 60%;
    margin: 24px auto;
}
